

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Montserrat", sans-serif;
}

:root{
  --green: #4A5759;
  --white: #F7F2EF;
  --beige: #E1DDD2;
  --dark: #BFBBAF;
}

h1, h2, h3{
  color: var(--green);
}

nav{

  background-color: var(--green);
  ul{
    
    list-style: none;
    text-align: center;
  
    li {
      display: inline-block;
      padding: 1rem;
      
      a{
        font-size: 18px;
        text-decoration: none;
        color: var(--beige);
      }
    }

    li:hover{
      text-decoration: underline;
      text-decoration-color: var(--beige);
    }
  }
}

header{
  background-color: var(--beige);
  height: auto;
  align-content: end;
  width: 100%;
  text-align: center;

  h1{
    text-align: left;
    width: 90%;
    font-size: 65px; 
    margin: 1.5rem .5rem .5rem .5rem ;
  }
  #header_info{
    text-align: left;
    list-style: none;
    margin-left: .8rem;
    li {
      display: inline-block;
      padding: 0 .5rem .5rem 0;
      font-weight: bold;
      color: var(--green);
  }
}
}

main{
  width: 100vw;
  margin: 0 auto;
  background-color: var(--beige);
  padding: 3rem 0;
  
}

#main_container{
  width: 80%;
  margin: 0 auto;

  h2{
    width: 100%;
    font-size: 28px; 
    text-align: center;
  }
}

.form_container{
  width: 100%; 
  max-width: 300px;
  margin: 0 auto 2rem auto;
  border: 2px solid var(--dark);
  padding: 1rem;
  border-radius: 20px;

  h2, p{
    text-align: center;
    margin-bottom: .6rem;
  }

  input, textarea{ 
    width: 100%;
    margin-bottom: .7rem;
    box-shadow: none;
    background-color: var(--beige);
    border: 2px solid var(--dark);
  }

  
}

.submit_button{
  display: block;
  width: 60%;
  padding: 5px;
  background-color: var(--green);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto;
}

.close-button {
  background-color: var(--green); 
  color: var(--white); 
  border: none; 
  border-radius: 50%; 
  width: 40px; 
  height: 40px; 
  font-size: 18px; 
  cursor: pointer; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin-left: 15rem;
  margin-bottom: 1rem;
}

.close-button:hover {
  background-color: var(--dark); 
}

#article_container{
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  gap: 1.5rem; 
  justify-content: center;
  padding: 1rem 0;
  margin-bottom: 4rem;
}

article{
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  background-color: azure;
  border-radius: 20px;
  
  border: 2px solid var(--dark);
  background-color: var(--beige);

  img{
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
  }
  .article_content{
    margin: 1rem;
    padding-bottom: .3rem;
    
    h3{
      font-size: 22px;
    }

    p{
      margin-top: 1rem;
    }
  }
}

#experience_container {
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

#experiences_list {
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  justify-content: center; 
}

#experiences_list li {
  width: 100%; 
  max-width: 250px; 
  background-color: var(--beige);
  border: 2.5px solid var(--green);
  border-radius: 10px;
  padding: 1rem;
  margin: 0.5rem; 
  font-weight: bold;
  color: var(--green);
  text-align: left;
}

#contact_button{
  max-width: 200px;
  height: 100px;
  margin: 2rem auto;
  border: 3px solid var(--green);
  font-size: 18px; 
}

#contact_button:hover{
  background-color: var(--beige);
  color: var(--green);
}

@media (min-width: 800px) {

  nav ul{
    text-align: right;
  }

  #main_container{
    
    h2{
      text-align: left;
    }
  }

  header{
    height: auto;
    padding: 1rem 0;

    h1{
      font-size: 100px;
      padding: 2rem 2rem 0 2rem;
    }
    #header_info{
      padding-left: 2rem;
    }
  }

  #form_container h2{
    text-align: center; 
  }
}

